.iphone6-animations {
	  @include animation(iphone6 1.6s linear 1500ms forwards);
	  @include animation-delay(2.5s);
}
@include keyframes(iphone6) {
	0% {
		opacity: 0;
		@include transform(translateX(-500px));
	}
	15% {
		opacity: 0;
	}
	40% {
		opacity: 0.3;
	   	@include transform(translateX(8px));
	}
	70% {
		@include transform(translateX(2px));
	}
	100% {
		opacity: 1;
		@include transform(translateX(0)rotateY(0deg));
	}
}
.nexus-animations {
	@include animation(nexus-animations 1.6s linear 2500ms forwards);
	@include animation-delay(3s);
}
@include keyframes(nexus-animations) {
	0% {
		opacity: 0;
		@include transform(translateX(500px));
	}
	15% {
		opacity: 0;
	}
	40% {
		opacity: 0.3;
	   	@include transform(translateX(-8px));
	}
	70% {
		@include transform(translateX(-2px));
	}
	100% {
		opacity: 1;
		@include transform(translateX(0)rotateY(0deg));
	}
}
.title-home-animtns {
	@include animation(title-home-animtns .4s ease-out forwards);
	@include animation-delay(1s);
}
@include keyframes(title-home-animtns) {	
	0% {
		opacity: 0;
		@include transform(translateY(-100px));
	}
	100% {
		opacity: 1;
		@include transform(translateY(0px));
	}
}
.subtitle-home-animtns {
	@include animation(subtitle-home-animtns .4s ease-out forwards);
	@include animation-delay(1.4s);
}
@include keyframes(subtitle-home-animtns) {	  
	0% {
		opacity: 0;
		@include transform(translateY(-100px));
	}
	20% {
		opacity: 0; 
	}
	100% {
		opacity: 1;
		@include transform(translateY(0px));
	}
}
.home-btnone {
	@include animation(home-btnone .4s ease-out forwards);
	@include animation-delay(1.8s);
}
@include keyframes(home-btnone) {	  
	0% {
		opacity: 0;
		@include transform(translateY(-80px));
	}
	20% {
		opacity: 0; 
	}
	100% {
		opacity: 1;
		@include transform(translateY(0px));
	}
}
.home-btntwo {
	@include animation(home-btnone .4s ease-out forwards);
	@include animation-delay(2s);
}

@include keyframes(anim-in) {
  0% { width: 0%; }
  100% { width: 100%; }
}

@include keyframes(anim-in-pseudo) {
  0% { background: rgba(#000,0.25); }
  100% { background: rgba(#000,0); }
}

@include keyframes(anim-out) {
  0% { width: 0%; }
  100% { width: 100%; }
}

@include keyframes(anim-out-pseudo) {
  0% { background:rgba(#02b794,0.25);  }
  100% { background: rgba(#02b794,0); }
}
@include keyframes(anim-out-pseudo2) {
  0% { background:rgba($first_color,0.25);  }
  100% { background: rgba($first_color,0); }
}
@include keyframes(anim-out-pseudo-full) {
  0% { background:rgba(#14826c,0.25);  }
  100% { background: rgba(#14826c,0); }
}
.icon-rotate {
	@include animation(icon-rotate .4s ease-out forwards);
}
@include keyframes(icon-rotate) {
	0% {
		@include transform(rotateX(0));
	}
	100% {
		@include transform(rotateY(360deg));
	}
}
.topelements {
	  @include animation(topelements 1.5s linear forwards);
}
@include keyframes(topelements) {
	0% {
		opacity: 0;
		@include transform(translateY(-300px));
	}
	15% {
		opacity: 0;
	}
	40% {
		opacity: 0.3;
	   	@include transform(translateY(8px));
	}
	70% {
		@include transform(translateY(2px));
	}
	100% {
		opacity: 1;
		@include transform(translateY(0));
	}
}
.bottomelements {
	  @include animation(bottomelements 0.6s linear forwards);
}
@include keyframes(bottomelements) {
	0% {
		opacity: 1;
		@include transform(translateY(0));
	}
	70% {opacity: 1;}
	100% {
		opacity: 0;
		@include transform(translateY(-200px));
	}
}
.Floatingx {
	  @include animation(Floatingx 3s ease-in-out infinite);
}
@include keyframes(Floatingx) {
    0% { @include transform(translate(0, 0px)); }
    65% { @include transform(translate(0, 5px)); } 
   	100% { @include transform(translate(0, 0px)); }
}
