.iphone6-animations {
	  @include animation(iphone6 1.2s linear 1500ms forwards);
	  @include animation-delay(2s);
	  @include transform-style(preserve-3d);
	  @include perspective(300px);
	  @include perspective-origin(100% 100%);
}
@include keyframes(iphone6) {
	0% {
		opacity: 0;
		@include transform(translateX(-500px)rotateY(0deg));
	}
	50% {
		opacity: 0.2; 
	}
	100% {
		opacity: 1;
		@include transform(translateX(0)rotateY(0deg));
	}
}
