.contacto-section {
	@include span-columns(12);
	.inside-section{  
		@include media($tablet) {
			margin:{top:100px;bottom:100px;}
		}
		@include media($mobileTomobileLand) {
			margin:{top:70px;bottom:45px;}
		}
		.text-contact {
			@include span-columns(6);
			@include media($tablet) {
				@include span-columns(10);
			}
			@include media($mobileTomobileLand) {
				@include span-columns(12);
			}
			.title-section {
				color:$first_color;
				@include span-columns(10);
			}
			.title-line {
				background: $green_color;
			}
			p {
				@include span-columns(10);
				color:$first_color;
				line-height: 2em;
			}	
		}
		
		.form-contact {
			@include span-columns(6);
			@include media($tablet) {
				@include span-columns(10);
				margin:0 auto;
			}
			@include media($mobileTomobileLand) {
				@include span-columns(12);
			}
			form {
				@include outer-container(90%);
				@include media($tablet) {
					@include span-columns(12);
				}
				@include media($mobileTomobileLand) {
					@include outer-container(98%);
				}
				input {
					@include span-columns(12);
					border:0;
					border-bottom:1px solid #d1d1d1; 
					margin:{bottom: 20px;}
    				padding: 15px 0;
    				font:{family:$primary_font;size:em(13);weight:300;}
				}
				textarea {
					@include span-columns(12);
					border:0;
					border-bottom:1px solid #d1d1d1; 
					margin:{bottom: 20px;}
    				padding: 15px 0;
    				font:{family:$primary_font;size:em(13);weight:300;}
    				outline: none;
				}
				.button {
					@include span-columns(12);
					font:{size:em(16);}
				}
			}
		}
	}
}