.footer-pi {
	@include span-columns(12);
	background: $second_color;
	.newsletter-footer {
		@include outer-container(80%);
		margin:30px auto;
		border:0;
		border-top:1px solid #292a2d; 
		border-bottom:1px solid #292a2d; 
		padding:35px 0;
		@include media($tabletLandTonotebook) {
			@include outer-container(90%);
		}
		@include media($mobileLandTotablet) {
			@include outer-container(95%);
		}
		@include media($tablet) {
			@include outer-container(95%);
			@include pad(0);
		}
		@include media($mobileTomobileLand) {
			@include outer-container(95%);
			@include pad(0);
			margin:{top:10px;bottom:30px;}
		}
		.title-newsl {
			@include span-columns(12);
			color:$green_color;
			font:{family:$primary_font;size:em(20);weight:300;}
			text:{transform:capitalize;}
			margin:{bottom:10px;}
			@include media($tablet) {
				@include span-columns(12);
				margin:15px 0;
			}
			@include media($mobileLand) {
				@include span-columns(12);
				margin:10px 0;
			}
			@include media($mobileTomobileLand) {
				@include span-columns(12);
				margin:10px 0;
			}
		}
		.form-newsletter {
			@include span-columns(12);
			@include media($tablet) {
				@include span-columns(12);
			}
			@include media($mobileLand) {
				@include span-columns(12);
			}
			@include media($mobileTomobileLand) {
				@include span-columns(12);
			}
			.box-form-pi {
				@include span-columns(2.9);
				background: none;
				border:1px solid $third_color; 
				border-radius:5px;
				padding: 10px;
				font:{family:$primary_font;size:em(13);weight:300;}
				color:$third_color;
				outline: none;
				@include media($mobileTomobileLand) {
					@include span-columns(12);
					margin:5px 0;
				}
			}
			.button {
				@include span-columns(3);
				background: $green_color;
				border:0;
				font:{weight:bold;}
				@include media($mobileTomobileLand) {
					@include span-columns(12);
					margin:{top:5px;}
				}
				a {
					color:#fff;
				}
			}
		} 
	}
	.social-connect {
		@include outer-container(40%);
		margin:{bottom:30px;}
		@include media($tabletLandTonotebook) {
			@include outer-container(50%);
		}
		@include media($tablet) {
			@include outer-container(70%);
		}
		@include media($mobileLandTotablet) {
			@include outer-container(90%);
		}
		@include media($mobileLand) {
			@include outer-container(96%);
		}
		@include media($mobileTomobileLand) {
			@include outer-container(96%);
		}
		ul {
			@include span-columns(12);
			@include media($mobileTomobileLand) {
				margin:0 !important;
				@include pad(0);
			}
			li {
				@include span-columns(4);
				display: inline-block;
				list-style: none;
				&:hover {
					a {
						.icon-social {
							@extend .icon-rotate;	
						}	
					}
				}
				a {
					@include span-columns(12);
					display: table;
					-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
					@include media($mobileTomobileLand) {
						text:{align:center;}
					}
					.icon-social {
						display: table-cell;
						vertical-align: middle;
						@include media($mobileTomobileLand) {
							@include span-columns(12);
							float: none;
						}
					}
					.link-social {
						@include span-columns(10);
						float: none;
						font:{family:$primary_font;size:em(12);}
						color:$green_color;
						display: table-cell;
						vertical-align: middle;
						padding:{left:4px;}
						@include media($mobileTomobileLand) {
							@include span-columns(12);
							float: none;
							font:{size:em(10);}
						}
					}
				}
			}
		}
	}
}