a{
	text:{decoration:none;}
}
.hide{
	display:none;
}
.show{
	display:block;
}
.center-div{
	margin:0 auto;
}
.center-absolute{
	left:0;
	right:0;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.no-margins {
	margin: 0;
}
html {
	body {
		@extend .no-margins;
	}
}
input {
	outline: none;
}
.btn-green {
	@extend .text-center;
	color:$green_color;
	border: 1px solid $green_color;
	border-radius: 5px;
	padding: 12px 20px;
	font:{family:$primary_font;size:em(15);}
	text:{transform:uppercase;}
}
.bg-colorfull {
	@include background-image(linear-gradient(top, $color_blue 0%, $green_color 100%));
}
.title-section {
	color:#fff;
	font:{family:$primary_font;size:em(75);}
	text:{transform:uppercase;}
	@include span-columns(5);
	line-height: 1.2em;
}
.title-line {
	@include span-columns(1);
	height: 5px;
	width: 40px;
	background: {color:#fff;}
	clear: both;
	margin:{top:20px;left:10px;}
}
.inside-section{  
	@include outer-container(65%);
	margin:{top:150px;bottom:200px;}
	p {
		@include span-columns(5);
		font:{family:$primary_font;size:em(18);weight:300;}
		color:#fff;
		clear: both;
		line-height: 2em;
	}
}