a{
	text:{decoration:none;}
}
.hide{
	display:none;
}
.show{
	display:block;
}
.center-div{
	margin:0 auto;
}
.center-absolute{
	left:0;
	right:0;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}
.no-margins {
	margin: 0;
}
html {
	body {
		@extend .no-margins;
	}
}
input {
	outline: none;
}
.button {
	@extend .text-center;
	border: 1px solid $green_color;
	border-radius: 5px;
	text:{transform:uppercase;}
	position: relative;
	overflow: hidden;
	z-index: 0;
	&.raised {
    	@include transition(0.1s all);
	    background:none;
    }
    &.btn-white {
    	@include transition(0.1s all);
	    background:#fff;
	    border:0;
    }
     &.btn-green-full {
    	@include transition(0.1s all);
	    background:$green_color;
	    border:0;
    }
    a {
    	width: 100%;
    	height: 100%;
    	display: block;
    	font:{family:$primary_font;size:em(15);}
    	color:$green_color;
    	padding: 12px 20px;
    	@include media($mobileTomobileLand) {
			font-size: 12px;
			padding: 10px 20px;
		}
    }
}
.anim {
	@include transform(translateY(-50%) translateX(-50%));
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	&:before {
		position: relative;
		content: '';
		display: block;
		margin-top: 100%;
	}
	&:after {
		content: '';
		position: absolute;
		top: 0;
		bottom:0;
		left: 0;
		right: 0;
		border-radius: 50%;
	}
}
.hoverable {
	&:hover {
		.anim {
			 @include animation(anim-out 0.75s);
			 &:after {
			 	 @include animation(anim-out-pseudo 0.75s);
			 }
			 &.white-anim {
				&:after {
				 	 @include animation(anim-out-pseudo2 0.75s);
				 }
			}
			&.anim-full {
				&:after {
				 	 @include animation(anim-out-pseudo-full 0.75s);
				 }
			}
		}
	}
}
.btn-green {
	@extend .text-center;
	color:$green_color;
	border: 1px solid $green_color;
	border-radius: 5px;
	padding: 12px 20px;
	font:{family:$primary_font;size:em(15);}
	text:{transform:uppercase;} 
}
.bg-colorfull {
	@include background-image(linear-gradient(top, $color_blue 0%, $green_color 100%));
}
.title-section {
	color:#fff;
	font:{family:$primary_font;size:em(75);}
	text:{transform:uppercase;}
	@include span-columns(5);
	line-height: 1.2em;
	
	@include media($tabletLandTonotebook) {
		font:{size:em(65);}
		line-height:1em;
	}
	@include media($mobileLandTotablet) {
		font:{size:em(45)}
	}
	@include media($mobileLand) {
		font:{size:em(45)}
	}
	@include media($mobileTomobileLand) {
		font:{size:em(38);}
	}
}
.title-line {
	@include span-columns(1);
	height: 5px;
	width: 40px;
	background: {color:#fff;}
	clear: both;
	margin:{top:20px;left:10px;}
}
.inside-section{  
	@include outer-container(65%);
	margin:{top:150px;bottom:200px;}
	@include media($tabletLandTonotebook) {
		@include outer-container(85%);
		margin:{top:180px;bottom:180px;}
	}
	@include media($tablet) {
		@include outer-container(95%);
	}
	@include media($mobileLandTotablet) {
		@include outer-container(95%);
	}
	@include media($mobileLand) {
		@include outer-container(95%); 
		margin:{top:95px;bottom:100px;}
	}
	@include media($mobileTomobileLand) {
		@include outer-container(96%);
	} 
	p {
		@include span-columns(5);
		font:{family:$primary_font;size:em(18);weight:300;}
		color:#fff;
		clear: both;
		line-height: 2em;
		@include media($mobileTomobileLand) {
			font:{size:em(16);}
    		line-height: 1.7em;
    		margin: 5px 0;
		}
	}
}
.icon-plat {
	&:hover {
		@extend .icon-rotate;
	}
}
.icon-social {
	&:hover {
		@extend .icon-rotate;
	}
}
.active-option {
	opacity: 1 !important;
}
#title-mobile-op1 {
	display: block;
}
.bg-menu-sticky {
	position: fixed;
	z-index: 999;
	@extend .animated-bg-menu;
}
select {
    height: 40px;
}