.influencers-section {
	@include span-columns(12);
	background: {position:center;size:cover;repeat:no-repeat;image:url('../img/bg-influencers.jpg');}
	@extend .text-center;
	margin:{right:0 !important;}
	.particles-infl {
		@include span-columns(12);
		height: 100%;
		background: rgba(4,4,4,0.6);
		z-index: 1;
		margin:{right:0 !important;}
		@include media($mobileTomobileLand) {
			background: none !important;
		}
		.inside-section {
			z-index: 2;
			position: relative;
			@extend .text-center;
			@include outer-container(40%);
			margin:{top:250px;bottom:300px;}
			@include media($tabletLandTonotebook) {
				margin:{top:300px;bottom:300px;}
				@include outer-container(60%);
			}
			@include media($tablet) {
				margin:{top:250px;bottom:250px;}
				@include outer-container(90%);
			}
			@include media($mobileLandTotablet) {
				@include outer-container(95%);
			}
			@include media($mobileLand) {
				margin:{top:200px;bottom:190px;}
				@include outer-container(95%);
			}
			@include media($mobileTomobileLand) {
				margin:{top:200px;bottom:190px;}
				@include outer-container(95%);
			}
			.title-section {
				@include span-columns(12);
				@extend .text-center;
				margin:{bottom:15px;}
			}
			.title-line {
				float: none;
				display: block;
				margin: {left:auto;right:auto;}
			}
			p {
				@include span-columns(12);
			}
			.button {
				@include span-columns(5);
				clear: both;
				float: none;
				margin: 0 auto !important;
				@include media($mobileTomobileLand) {
					@include span-columns(7);
					margin:{top:20px;left:auto;right:auto;}
					float: none; 
				}
			}
		}	
	}
	canvas {
		position: absolute !important;
		background: rgba(44, 50, 124, 0.2) !important;
		@include media($mobileTomobileLand) {
			display: none !important;
		}
	}
}	