.marcas-section {
	@include span-columns(12);
	.inside-section{  
		.title-section {
			color:$first_color;
		}
		.title-line {
			background: $green_color;
			//@include background-image(linear-gradient(left, $green_color 0%, #4a7fcd 100%));
		}
		p {
			color:$first_color;
			line-height: 2em;
		}
		button {
			@include span-columns(3);
			clear: both;
			background: none;
			margin:{top:20px;}
		}
	}
}