.marcas-section {
	@include span-columns(12);
	.inside-section{  
		margin:{top:200px;bottom:200px;}
		@include media($tablet){
			margin:{top:100px;bottom:50px;}
		}
		@include media($mobileLand) {
			margin:{top:95px;bottom:100px;}
		}
		@include media($mobileTomobileLand) {
			margin:{top:70px;bottom:55px;}
		}
		.text-marcas {
			@include span-columns(5);
			@include media($tablet) {
				@include span-columns(10);
			}
			@include media($mobileTomobileLand) {
				@include span-columns(12);
			}
		    @include media($mobileLand) {
				@include span-columns(12);
			}
			@include media($mobileTomobileLand) {
				@include span-columns(12);
			}
			.title-section {
				@include span-columns(12);
				color:$first_color;
			}
			.title-line {
				background: $green_color;
				//@include background-image(linear-gradient(left, $green_color 0%, #4a7fcd 100%));
			}
			p {
				@include span-columns(12);
				color:$first_color;
				line-height: 2em;
			}
			.button {
				@include span-columns(8);
				clear: both;
				background: none;
				margin:{top:20px;}
				@include media($mobileLandTotablet) {
					display: none;
				}
				@include media($tabletLandTonotebook) {
					display: block;
				}

				@include media($mobileLand) {
					display: none;
				}
				@include media($mobileTomobileLand) {
					display: none;
				}
			}	
		}
		.video-descript {
			@include span-columns(6);
			@include media($desktop) {
				@include span-columns(6);
				float: right;
				margin:0;
			}
			@include media($mobileLandTotablet) {
				@include span-columns(12);
			}
			@include media($tablet) {
				@include span-columns(10);
				float: none;
				margin:0 auto;
			}
			@include media($tabletLand) {
				@include span-columns(8);
				float: none;
				margin:0 auto;
			}
			@include media($tabletLandTonotebook) {
				@include span-columns(6);
			}
		    @include media($mobileLand) {
				@include span-columns(8);
				float: none;
				margin:0 auto;
			}
			@include media($mobileTomobileLand) {
				@include span-columns(12);
				margin:{top:0;bottom:14px;}
			}

			img {
				@extend .Floatingx;
				float: right;
				width: 100%;
    			height: auto;
			}
		}
		.buton-mombile-ingresar {
			@include span-columns(8);
			clear: both;
			background: none;
			margin: 0 auto !important;
    		float: none;
			@include media($notebookTodesktop) {
				display: none;
			}

			@include media($tabletLandTonotebook) {
				display: none;
			}
			@include media($mobileLandTotablet) {
				display: block;
			}
			@include media($tabletLand) {
				display: none;
			}
		}
	}
}